Source: reto
Section: misc
Priority: optional
Maintainer: Raul Rodrigo Seguro <raurodse@gmail.com>
Uploaders: Angel Berlanas Vicente <angel.berlanas@gmail.com>,Raul Rodrigo Segura <raurodse@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: reto-common
Depends: ${misc:Depends}
Architecture: all
Description: Reto Benchmarks
 Reto benchmarks common files
